VITE_MAIN_CONTRACT_ADDRESS=
VITE_REPUTATION_CONTRACT_ADDRESS=
VITE_GENLAYER_NETWORK=studionet
VITE_GENLAYER_RPC=https://studio.genlayer.com/api
VITE_GENLAYER_CHAIN_ID=61999
VITE_GENLAYER_CURRENCY=GEN
VITE_EXPLORER_URL=https://explorer-studio.genlayer.com
